# Connecting to MySQL Database, Data Insertion, and Analysis

Connecting to a MySQL database from Python opens up a wealth of opportunities for data analysis and manipulation. By establishing a connection to the database, Python developers can seamlessly retrieve data stored in MySQL tables directly into their Python environment. This enables them to leverage the powerful analytical capabilities of Python libraries such as Pandas, NumPy, and Matplotlib to explore, clean, transform, and visualize data. With access to real-time or historical data stored in MySQL, analysts and data scientists can gain valuable insights, identify patterns, and make data-driven decisions. Whether it's performing statistical analysis, generating visualizations, or building machine learning models, the ability to connect to a MySQL database from Python empowers users to unlock the full potential of their data for analysis and decision-making.

In [1]:
#installing python mysql connector
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/vijaykumarreddybommireddy/anaconda3/lib/python3.11/site-packages (8.4.0)

In [2]:
#import my sql connector
import mysql.connector

In [3]:
#create a connection to database
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='####',
)

print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x1088a1390>

In [4]:
#Create a Database and testing
#importing module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='####',
)

#create a cursor
new_cursor=new_db.cursor()

#creata a database with new cursor
new_cursor.execute("CREATE DATABASE Data")

In [5]:
#check database is created or not

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='####',
)

#create a cursor
new_cursor=new_db.cursor()

#check newData database created or not
new_cursor.execute("SHOW DATABASES")

#use for loop to iterate over the cursor for checking of database
for n in new_cursor:
    print(n)

('CASET',)
('Data',)
('Datasource',)
('information_schema',)
('lsql',)
('mysql',)
('newData',)
('performance_schema',)
('sqlData',)

In [6]:
#alternative method to check database exists or not

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='####',
    database='Data'
)

## Creating Tables and CheckingÂ¶

In [7]:
new_cursor=new_db.cursor()
new_cursor.execute('CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))')

## List of Tables in newData

In [8]:
new_cursor=new_db.cursor()
new_cursor.execute('SHOW TABLES')

for x in new_cursor:
    print(x)

('students',)

## Add Primary key for Tables

In [9]:
new_cursor.execute("CREATE TABLE client(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

## Add Primary Key if table already exists

In [11]:
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY ")

## Insert records into tables

In [13]:
new_sql = "INSERT INTO  students (name,code) VALUES (%s, %s)"
new_vals=("Ronaldo","CODE12")

new_cursor.execute(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"new recored inserted")

1 new recored inserted

## Adding many records

In [14]:
new_sql = "INSERT INTO  students (name,code) VALUES (%s, %s)"

new_val=[
    ("Mesi","code30"),
    ("Pogba","code06"),
    ("Salah","code11"),
    ("Someone","code110")
]

new_cursor.executemany(new_sql,new_val)

new_db.commit()

print(new_cursor.rowcount,"new recored inserted")

4 new recored inserted

## SELECT and fetch all data

In [15]:
new_cursor=new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)
('Mesi', 'code30', 2)
('Pogba', 'code06', 3)
('Salah', 'code11', 4)
('Someone', 'code110', 5)

In [16]:
new_cursor=new_db.cursor()

new_cursor.execute("select name FROM students")
new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo',)
('Mesi',)
('Pogba',)
('Salah',)
('Someone',)

## Filter The Results

In [18]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students WHERE name='Ronaldo'"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)

## Wild Card Character

In [19]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students WHERE name LIKE '%Mesi%' "

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)

## Sorting The Results

In [17]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)
('Ronaldo', 'CODE12', 1)
('Someone', 'code110', 5)
('Salah', 'code11', 4)
('Pogba', 'code06', 3)

In [20]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)
('Ronaldo', 'CODE12', 1)
('Someone', 'code110', 5)
('Salah', 'code11', 4)
('Pogba', 'code06', 3)

## DELETING Records

In [21]:
new_cursor=new_db.cursor()

new_sql="DELETE FROM students WHERE name =%s "
name=("Ronaldo",)

new_cursor.execute(new_sql,name)

new_db.commit()

print(new_cursor.rowcount,"records deleted from new data")

1 records deleted from new data

## Deleting Table

In [22]:
new_cursor=new_db.cursor()

new_sql="DROP TABLE IF EXISTS  client"


new_cursor.execute(new_sql)

## Updating Tables and Escaping values

In [23]:
new_cursor=new_db.cursor()

new_sql="UPDATE students SET code =%s WHERE  code =%s "
new_vals=('Code12','Code07')


new_cursor.execute(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"records changed in students tables!")

0 records changed in students tables!

In [26]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)
('Someone', 'code110', 5)
('Salah', 'code11', 4)
('Pogba', 'code06', 3)

In [28]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students LIMIT 2 OFFSET 1"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'code06', 3)
('Salah', 'code11', 4)

In [32]:
new_cursor=new_db.cursor()

new_sql="SELECT * FROM students LIMIT 3 OFFSET 1"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

print(new_data)

[('Pogba', 'code06', 3), ('Salah', 'code11', 4), ('Someone', 'code110', 5)]

In [33]:
new_cursor=new_db.cursor()

new_cursor.execute("select * FROM students")
new_data=new_cursor.fetchone()

print(new_data)

('Mesi', 'code30', 2)